{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
    {% if data is not empty %}
        <table>
            <caption>Recapitulatifs des commandes (avec twig)</caption>
            <thead>
            <tr>{% if   app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_ADMIN' %}
                <th>user_id</th>
                {% endif %}
                <th>prix</th><th>date_achat</th><th>etat</th><th>opérations</th><th>Detail</th>
            </tr>
            </thead>
            <tbody>
            {% for commandes in data if data is not empty %}
                <tr>
                    {% if(app.session.get('roles') is not defined or app.session.get('roles')!='ROLE_CLIENT') %}
                    <td>{{commandes.user_id}}</td>
                    {% endif %}
                        <td>{{commandes.prix}}</td><td>{{commandes.date_achat}}</td><td>
                        {{commandes.libelle}}</td>
                        {% if   app.session.get('roles') is defined and app.session.get('roles') == 'ROLE_ADMIN' %}
                         <td>
                            <a href="{{ path('commande.prep', {id: commandes.id}) }}">Preparation</a>
                             <a href="{{ path('commande.exp', {id: commandes.id}) }}">Expedition</a>
                        </td>
                        {% endif %}
                    <td>
                        <a href="{{ path('commande.detail', {id: commandes.id}) }}">Détail de la commande</a>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    {% else %}
        <h1>
            Pas de commandes en cours
        </h1>
        {% endif %}
    </div>
{% endblock %}