{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <table>
            <caption>Details de la commande</caption>
            <thead>
            <tr><th>nom</th><th>quantité</th><th>prix</th><th>dateAjoutPanier</th><th>produit_id</th><th>type produit</th><th>photo</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in data if data is not empty %}
                <tr>
                    <td>{{produit.nom}}</td>
                    <td>{{produit.quantite }}</td>
                    <td>{{produit.quantite * produit.prix}}</td>
                    <td>{{produit.dateAjoutPanier}}</td>
                    <td>{{produit.produit_id}}</td>
                    <td>{{produit.tlibelle}}</td>
                    <td>
                        <img src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.nom}}" width="100" height="100" >
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
        <a href="{{ path('commande.showAll') }}">Retour</a>
    </div>

{% endblock %}