{% extends "layout.html.twig" %}
{% block contenu %}
    <form method="post" action="{{ path('user.validFormAddUser') }}">
        <div class="row">
            <fieldset>
                <legend>Inscription</legend>
                <label>Nom de compte :
                    <input name="login"  type="text"  size="18" value="{{donnees.login|default('')}}" />
                    {% if erreurs.login is defined %}
                        <small class="error">{{erreurs.login}}</small>
                    {% endif %}
                </label>
                <label>Mot de passe :
                    <input name="password"  type="password"  size="18" value="{{donnees.password|default('')}}" />
                    {% if erreurs.password is defined %}
                        <small class="error">{{erreurs.password}}</small>
                    {% endif %}
                </label>
                <label>Email :
                    <input name="email"  type="text"  size="18" value="{{donnees.email|default('')}}"/>
                    {% if erreurs.email is defined %}
                        <small class="error">{{erreurs.email}}</small>
                    {% endif %}
                </label>
                <input type="submit" name="addUser" value="S'inscrire" />
            </fieldset>
        </div>
    </form>
{% endblock %}
