{% extends "layout.html.twig" %}
{% block contenu %}
<div style="margin-top: 20px;">
    <div class="row">
        <table>
            <caption>Recapitulatifs des clients</caption>
            <thead>
            <tr><th>id</th><th>username</th><th>password</th><th>roles</th><th>email</th><th>nom</th><th>code postal</th><th>ville</th><th>adresse</th><th>action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in donnees if donnees is not empty %}
                <tr>
                    <td>{{user.id}}</td><td>{{user.username}}</td><td>{{user.password}}</td><td>{{user.roles}}</td><td>
                        {{user.email}}</td><td>{{user.nom}}</td><td>{{user.code_postal}}</td><td>{{user.ville}}</td><td>{{user.adresse}}</td>
                    <td>
                        <a href="{{ path('user.updateAdmin', {id: user.id}) }}">modifier</a>
                        <a href="{{ path('user.delete', {id: user.id}) }}">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    {% endblock %}

