{% extends "layout.html.twig" %}
{% block contenu %}
    <div class="row">
        <table>
            <caption>Recapitulatifs des armes</caption>
            <thead>
            <tr><th>nom</th><th>id</th><th>type</th><th>prix</th><th>nom photo</th><th>photo</th><th>ajouter</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in data if data is not empty %}
                <tr>
                    <td>{{produit.nom}}</td><td>{{produit.id}}</td><td>{{produit.libelle}}</td><td>{{produit.prix}}</td><td>
                        {{produit.photo}}</td><td>
                        <img src="{{asset('images/')}}{{produit.photo}}" alt="image de {{produit.libelle}}" width="150" height="150" >
                    </td>
                    <td>
                        <a href="{{ path('panier.insert', {id: produit.id}) }}">ajouter au panier</a>
                    </td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}

